.swiper-btns .swiper-button-next, .swiper-btns .swiper-button-prev {
  position: static;
  width: 20px;
  display: block;
  /* margin-top: 4px; */
  transition: all 0.3s ease-in-out;
}

/* .swiper-btns .swiper-button-next {
  margin-top: 0;
} */

.swiper-btns .swiper-button-next.swiper-button-disabled::after, .swiper-btns .swiper-button-prev.swiper-button-disabled::after {
  background-color: none;
  opacity: 0.5;
}

.swiper-btns .swiper-button-next::after, .swiper-btns .swiper-button-prev::after {
  content: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5185 8.90915V11.0911L11.0401 19.6545L9.30393 17.8011L16.6005 11.3022H0.505859V8.76838H16.6474L9.30393 2.08185L11.1808 0.345703L20.5185 8.90915Z" fill="black"/></svg>');
  width: 20px;
  height: 20px;
  transition: color 0.3s ease-in-out, opacity 0.33s ease-in-out;
}

.swiper-btns .swiper-button-prev::after {
  content: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.487333 10.7862L0.487332 8.60424L9.96578 0.0407896L11.7019 1.89425L4.4054 8.39309L20.5 8.39308L20.5 10.9269L4.35848 10.9269L11.7019 17.6135L9.82501 19.3496L0.487333 10.7862Z" fill="black"/></svg>')
}

.swiper-btns .swiper-button-next:hover::after, .swiper-btns .swiper-button-prev:hover::after {
  content:url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.5185 8.90915V11.0911L11.0401 19.6545L9.30393 17.8011L16.6005 11.3022H0.505859V8.76838H16.6474L9.30393 2.08185L11.1808 0.345703L20.5185 8.90915Z" fill="%234285f4"/></svg>')
}
 .swiper-btns .swiper-button-prev:hover::after {
  content: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.487333 10.7862L0.487332 8.60424L9.96578 0.0407896L11.7019 1.89425L4.4054 8.39309L20.5 8.39308L20.5 10.9269L4.35848 10.9269L11.7019 17.6135L9.82501 19.3496L0.487333 10.7862Z" fill="%234285f4"/></svg>')
}

.swiper-btns .swiper-button-next:hover::after, .swiper-btns .swiper-button-prev:hover::after {
  color: var(--color-green);
}

.swiper-btns .swiper-button-next:focus-visible, .swiper-btns .swiper-button-prev:focus-visible {
  outline: none;
  background-color: var(--color-green);
}

.swiper-btns .swiper-button-next:focus-visible::after, .swiper-btns .swiper-button-prev:focus-visible::after {
  color: var(--color-green);
}

.swiper-btns .swiper-button-prev:active::after,
.swiper-btns .swiper-button-next:active::after {
  opacity: 0.7;
}

.swiper-btns .swiper-button-next:active::after, .swiper-btns .swiper-button-prev:active::after {
  color: var(--color-green);
}

@media screen and (max-width: 850px) {
  .swiper-btns .swiper-button-next {
    margin-top: 0;
  }

  .swiper-btns .swiper-button-prev {
    margin-top: 0;
  }
}
