.home-banner__container {
  position: relative;
  min-height: 710px;
  height: 100%;
}

.home-banner__title {
  position: relative;
  padding-top: 42px;
  margin-bottom: calc(var(--space) * 3);
  z-index: 4;
}

.home-banner__title  .main-title {
  margin: 0;
}

.home-banner__subtitle {
  display: inline-block;
  margin-top: var(--space);
  font-size: 32px;
  font-weight: 500;
  color: var(--color-blue-link);
  font-variation-settings: 'GRAD' 132, 'wdth' 148;
}

.home-banner__img {
  position: absolute;
  top: -20px;
  right: 32px;
  max-width: 748px;
  width: 100%;
  min-height: 700px;
  height: 100%;
}

.home-banner__img img {
  height: 100%;
  width: 100%;
}

.home__link {
  position: relative;
  font-size: 32px;
  z-index: 3;
}

.home__link--light {
  font-weight: 300;
  font-variation-settings: 'wdth' 148, 'slnt' -10, 'xtra' 520;
}

.home__link--wtihImg {
  position: relative;
}

.home__link--wtihImg::before {
  content: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301.78 297.54'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2398c1f0;%7D.cls-2%7Bfill:none;stroke:%2398c1f0;stroke-miterlimit:10;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M93.15,165.68l5.06,4.87c-3.9,4.63-9.87,7.13-16.87,7.13-10.78,0-19.31-6.27-21.93-15.59H52.47v-4.27h6.15c-.06-.67-.06-1.34-.06-2.07s0-1.4.06-2.07H52.47v-4.26h6.94c2.62-9.32,11.15-15.6,21.93-15.6,7,0,13,2.5,16.87,7.13l-5.06,4.81a15,15,0,0,0-11.39-5c-6.51,0-11.69,3.35-14,8.65H85.24v4.26H66.6c-.06.67-.12,1.34-.12,2.07s.06,1.4.12,2.07H85.24v4.27H67.75c2.32,5.3,7.5,8.65,14,8.65A14.82,14.82,0,0,0,93.15,165.68Z'/%3E%3Cpath class='cls-1' d='M123.18,134.43v42.64h-7.92v-36h-9v-6.64Z'/%3E%3Cpath class='cls-1' d='M171.81,134.43v5.3l-16.57,37.34h-8.47l16-35.94H146v7.25h-7.37V134.43Z'/%3E%3Cpath class='cls-1' d='M206.58,164c0,7.5-5.42,13.71-16.87,13.71-6,0-12.12-1.83-16-4.93l3.35-6.16a20.2,20.2,0,0,0,12.55,4.21c5.66,0,9-2.5,9-6.52s-2.62-6.64-11.45-6.64H176.86l2.19-23.21h25v6.64H185.75l-.91,9.87h4.08C201.53,150.94,206.58,156.42,206.58,164Z'/%3E%3Cpath class='cls-1' d='M211.15,155.75c0-14,7.67-21.93,17.78-21.93s17.85,7.92,17.85,21.93-7.68,21.93-17.85,21.93S211.15,169.76,211.15,155.75Zm27.65,0c0-10.29-4-15-9.87-15s-9.8,4.75-9.8,15,4,15.05,9.8,15.05S238.8,166.05,238.8,155.75Z'/%3E%3Cpath class='cls-1' d='M16.77,190.72c-6.66,1.39-12.4-2.56-13.79-9.25s2.31-12.56,9-13.95,12.42,2.51,13.82,9.21S23.42,189.34,16.77,190.72Zm-4-19.11c-4.76,1-7.17,4.83-6.27,9.12s4.64,6.9,9.4,5.91,7.2-4.88,6.3-9.17S17.55,170.62,12.79,171.61Z'/%3E%3Cpath class='cls-1' d='M0,139.67l22.79,0v3.92H19.38a9.27,9.27,0,0,1,3.69,7.75c0,5.89-3.24,9.8-10,9.79L0,161.13V157l12.64,0c4.47,0,6.71-2.23,6.72-6.14,0-4.3-2.65-7.06-7.56-7.07L0,143.8Z'/%3E%3Cpath class='cls-1' d='M3.39,117.09l3.94.7a6,6,0,0,0-.21.92c-.78,4.36,1.41,7.54,6.32,8.41l11.18,2-.72,4.07-22.44-4,.69-3.89,3.77.67C3.55,124.06,2.69,121,3.39,117.09Z'/%3E%3Cpath class='cls-1' d='M19,103.76c-6.18-2.83-8.47-9.4-5.63-15.62s9.3-8.76,15.48-5.93,8.52,9.38,5.68,15.6S25.19,106.58,19,103.76ZM27.12,86c-4.42-2-8.63-.35-10.45,3.64S16.32,98,20.74,100s8.69.33,10.51-3.66S31.54,88,27.12,86Z'/%3E%3Cpath class='cls-1' d='M24,65.68l1.65,1.09,3.66-5.52,2.83,1.88-3.62,5.45L44.63,79.3l-2.28,3.44L26.19,72l-2.14,3.22-2.83-1.88,2.14-3.22L21.68,69c-3.69-2.45-4.66-6.28-2-10.33a7.72,7.72,0,0,1,3.68-3.14l1.92,2.78a5.33,5.33,0,0,0-2.65,2.06C21.3,62.43,21.76,64.23,24,65.68Z'/%3E%3Cpath class='cls-1' d='M34.28,52l1.51,1.27,4.26-5.08,2.6,2.19-4.2,5L53.32,67.88,50.66,71,35.8,58.58l-2.49,3-2.6-2.19,2.49-3-1.55-1.3c-3.4-2.85-3.92-6.77-.8-10.49a7.66,7.66,0,0,1,4-2.71l1.6,3a5.34,5.34,0,0,0-2.87,1.74C32,48.5,32.27,50.34,34.28,52Z'/%3E%3Cpath class='cls-1' d='M67.92,39.93,54.05,52.15c3,2.66,7.22,2.53,10.6-.45a8.54,8.54,0,0,0,3.12-6.42l3.47.49A11.44,11.44,0,0,1,67,54.49c-5.52,4.86-12.41,4.46-16.9-.64s-4-11.92.9-16.27,11.58-3.9,16.21,1.36A10.27,10.27,0,0,1,67.92,39.93Zm-15.83,10,11-9.67a7.36,7.36,0,0,0-11,9.67Z'/%3E%3Cpath class='cls-1' d='M76.71,19.1l2.12,3.39A6.3,6.3,0,0,0,78,23c-3.76,2.35-4.65,6.11-2,10.34l6,9.61-3.49,2.2L66.44,25.79l3.35-2.1,2,3.24C71.65,23.9,73.32,21.22,76.71,19.1Z'/%3E%3Cpath class='cls-1' d='M79.13,10.23a2.72,2.72,0,0,1,1.33-3.66,2.69,2.69,0,1,1,2.35,4.84A2.69,2.69,0,0,1,79.13,10.23Zm3.74,6,3.71-1.8,10,20.5-3.71,1.81Z'/%3E%3Cpath class='cls-1' d='M119.38,13l3.86,12.54-3.95,1.21-3.71-12.08c-1.32-4.28-4.1-5.72-7.84-4.57-4.19,1.29-6.13,4.63-4.68,9.36l3.45,11.22-4,1.21L95.87,10.08l3.78-1.16,1,3.28c.92-2.71,3.33-4.84,6.78-5.9C112.74,4.67,117.42,6.56,119.38,13Z'/%3E%3Cpath class='cls-1' d='M149.57,0l1.34,19.65c.55,8-3.28,12-11,12.48-4.16.28-8.45-.59-11.09-2.65l1.76-3.31a13.88,13.88,0,0,0,8.95,2.36c5.37-.36,7.64-3,7.29-8.17l-.12-1.8a10.46,10.46,0,0,1-8,4.08c-6.56.45-11.84-3.68-12.29-10.24S130.67,1.08,137.24.63a10.38,10.38,0,0,1,8.66,3.16L145.66.27Zm-3.3,11C146,6.63,142.5,3.89,138,4.2s-7.65,3.5-7.35,7.92S134.38,19.31,139,19,146.57,15.42,146.27,11Z'/%3E%3Cpath class='cls-1' d='M166.13,21.23l2.32-2.87a14.72,14.72,0,0,0,7.39,3.87c3.75.74,5.54-.09,5.91-2,1-5-14-3.47-12.23-12.37.79-4,4.91-6,10.65-4.86a16.67,16.67,0,0,1,7.73,3.63l-2.36,2.87a11.84,11.84,0,0,0-6.1-3c-3.54-.7-5.53.27-5.88,2-1,5.27,14,3.77,12.26,12.46-.8,4.05-5,5.88-11,4.71C171.14,24.94,167.7,23.07,166.13,21.23Z'/%3E%3Cpath class='cls-1' d='M201,31.78a7.75,7.75,0,0,1-5.23-.17c-4.33-1.54-5.95-4.81-4.41-9.15l4.2-11.78-3.65-1.3L193,6.18l3.65,1.3,1.67-4.7,3.89,1.38-1.68,4.7,6.16,2.19-1.14,3.2-6.16-2.19-4.13,11.63c-.83,2.3-.07,4,2.07,4.8a5.23,5.23,0,0,0,3.4.07Z'/%3E%3Cpath class='cls-1' d='M226.5,31.19l-6.64,12.06-3.43-1.89,1.46-2.64c-2.21,1.15-5,1-8.14-.75-4.52-2.49-6.05-6.48-4.14-9.94,1.76-3.2,5.29-4.7,11.24-1.42l5.72,3.15.4-.71c1.68-3.05.89-5.8-2.69-7.77a11.52,11.52,0,0,0-7.52-1.34V16.4a15.17,15.17,0,0,1,9.66,2C227.88,21.39,229.51,25.73,226.5,31.19Zm-6.89,4,1.53-2.79-5.57-3.07c-3.58-2-5.37-1.14-6.3.56-1.1,2-.13,4.15,2.62,5.67S217.44,37,219.61,35.15Z'/%3E%3Cpath class='cls-1' d='M248.91,36.52l-2.47,3.15a7.67,7.67,0,0,0-.71-.62c-3.49-2.73-7.33-2.29-10.4,1.64l-7,9-3.25-2.54,14-18,3.12,2.43-2.36,3C242.67,33.39,245.76,34.05,248.91,36.52Z'/%3E%3Cpath class='cls-1' d='M248.28,66.38a7.81,7.81,0,0,1-4.62-2.47c-3.21-3.29-3.22-6.94.07-10.15l9-8.73L250,42.26l2.43-2.37,2.7,2.77,3.58-3.48,2.88,3L258,45.62l4.56,4.68-2.43,2.37L255.58,48l-8.84,8.61c-1.76,1.71-1.85,3.59-.26,5.22a5.13,5.13,0,0,0,3,1.56Z'/%3E%3Cpath class='cls-1' d='M250.06,66.61l3.66-.52A14.62,14.62,0,0,0,256.49,74c2.25,3.1,4.12,3.71,5.69,2.57,4.14-3-7.9-12.07-.55-17.39,3.31-2.39,7.68-1.05,11.11,3.69a16.52,16.52,0,0,1,3.2,7.93l-3.68.49a11.92,11.92,0,0,0-2.4-6.39c-2.11-2.92-4.23-3.57-5.69-2.51-4.36,3.15,7.67,12.28.5,17.48-3.35,2.42-7.69.89-11.25-4C251.2,72.74,250,69,250.06,66.61Z'/%3E%3Cpath class='cls-1' d='M290.89,91.61l-1.82.78,2.6,6.09-3.12,1.33-2.57-6-17.83,7.63-1.62-3.8L284.36,90l-1.53-3.56L286,85.12l1.52,3.55,1.86-.79c4.07-1.74,7.8-.44,9.71,4a7.68,7.68,0,0,1,.61,4.79l-3.38.09a5.41,5.41,0,0,0-.26-3.35C295.05,91.19,293.3,90.58,290.89,91.61Z'/%3E%3Cpath class='cls-1' d='M297.94,119.48l-3.87,1a9.37,9.37,0,0,0-.2-.93c-1.12-4.28-4.44-6.26-9.27-5l-11,2.88-1.05-4,22.05-5.78,1,3.83-3.7,1C294.87,113.22,296.92,115.61,297.94,119.48Z'/%3E%3Cpath class='cls-1' d='M287.57,125.66c6.76-.68,12.06,3.84,12.75,10.64s-3.61,12.25-10.36,12.94-12.1-3.79-12.79-10.59S280.81,126.35,287.57,125.66Zm2,19.43c4.83-.49,7.62-4.06,7.18-8.42s-3.9-7.35-8.73-6.86-7.67,4.11-7.23,8.47S284.7,145.58,289.54,145.09Z'/%3E%3Cpath class='cls-1' d='M285.7,193.86l-12.92-2.27.72-4.07L286,189.71c4.4.78,6.93-1,7.58-4.65.72-4.06-1.4-7.18-6.27-8l-11.56-2,.72-4.07,12.45,2.19c4.4.78,6.93-1,7.58-4.65.72-4.06-1.4-7.18-6.27-8l-11.56-2,.72-4.07,22.44,4-.68,3.9-3.35-.59c2,2,2.79,5,2.19,8.37s-2.46,6.07-5.52,7.06a10.25,10.25,0,0,1,2.63,9.37C296.09,191.84,292.3,195,285.7,193.86Z'/%3E%3Cpath class='cls-2' d='M18,211.26a144.88,144.88,0,0,0,263.2,0'/%3E%3C/svg%3E");
  position: absolute;
  top: -99px;
  right: -80px;
  width: 160px;
  height: 150px;
  z-index: -1;
}

.home-solutions {
  margin-bottom: calc(var(--space) * 5);
}

.home-solutions__title {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: var(--space);
  font-variation-settings: 'GRAD' 132, 'wdth' 148, 'xtra' 520;
}

.home-solutions__text {
  font-size: 20px;
  font-variation-settings: 'GRAD' 0, 'wdth' 110;
}

.home-solutions__text:not(:last-of-type) {
  margin-bottom: var(--space);
}

.home-solutions__text:last-of-type {
  margin-bottom: calc(var(--space) * 3);
}

.home__link--with-underline {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 980px) {
  .home-banner__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main-title {
    font-size: 60px;
  }

  .home-banner__content {
    margin-bottom: var(--space);
  }

  .home-banner__img {
    position: static;
    max-width: unset;
    min-height: unset;
    margin-bottom: calc(var(--space)* 3);
  }

  .home-banner__title {
    padding-top: 0;
  }

  .home-banner__container .home__link {
    order: 2;
  }

}


@media screen and (max-width: 870px) {
  .home-solutions__text:last-of-type {
    margin-bottom: var(--space);
  }

  .home-solutions  {
    margin-bottom: calc(var(--space) * 3);
  }
}


@media screen and (max-width: 520px) {

  .home-banner {
    margin-bottom: var(--space);
  }

  .home-banner__container {
    padding-top: 0;
    min-height: unset;
  }

  .home-banner__title {
    margin-bottom: 0;
  }

  .main-title {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 0;
  }

  .home-banner__subtitle {
    font-size: 24px;
    line-height: 0.6;
    margin-bottom: calc(var(--space) * 0.5);
  }

  .home-solutions__title {
    font-size: 24px;
    line-height: 1.2;
  }

  .home-solutions__text {
    font-size: 16px;
  }

  .home__link {
    font-size: 24px;
  }

  .home-banner__img {
    margin-bottom: var(--space);
  }

  .home__link--wtihImg::before {
    content: url("data:image/svg+xml,%3Csvg id='Слой_1' data-name='Слой 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 301.78 297.54'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%2398c1f0;%7D.cls-2%7Bfill:none;stroke:%2398c1f0;stroke-miterlimit:10;stroke-width:4px;%7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M93.15,165.68l5.06,4.87c-3.9,4.63-9.87,7.13-16.87,7.13-10.78,0-19.31-6.27-21.93-15.59H52.47v-4.27h6.15c-.06-.67-.06-1.34-.06-2.07s0-1.4.06-2.07H52.47v-4.26h6.94c2.62-9.32,11.15-15.6,21.93-15.6,7,0,13,2.5,16.87,7.13l-5.06,4.81a15,15,0,0,0-11.39-5c-6.51,0-11.69,3.35-14,8.65H85.24v4.26H66.6c-.06.67-.12,1.34-.12,2.07s.06,1.4.12,2.07H85.24v4.27H67.75c2.32,5.3,7.5,8.65,14,8.65A14.82,14.82,0,0,0,93.15,165.68Z'/%3E%3Cpath class='cls-1' d='M123.18,134.43v42.64h-7.92v-36h-9v-6.64Z'/%3E%3Cpath class='cls-1' d='M171.81,134.43v5.3l-16.57,37.34h-8.47l16-35.94H146v7.25h-7.37V134.43Z'/%3E%3Cpath class='cls-1' d='M206.58,164c0,7.5-5.42,13.71-16.87,13.71-6,0-12.12-1.83-16-4.93l3.35-6.16a20.2,20.2,0,0,0,12.55,4.21c5.66,0,9-2.5,9-6.52s-2.62-6.64-11.45-6.64H176.86l2.19-23.21h25v6.64H185.75l-.91,9.87h4.08C201.53,150.94,206.58,156.42,206.58,164Z'/%3E%3Cpath class='cls-1' d='M211.15,155.75c0-14,7.67-21.93,17.78-21.93s17.85,7.92,17.85,21.93-7.68,21.93-17.85,21.93S211.15,169.76,211.15,155.75Zm27.65,0c0-10.29-4-15-9.87-15s-9.8,4.75-9.8,15,4,15.05,9.8,15.05S238.8,166.05,238.8,155.75Z'/%3E%3Cpath class='cls-1' d='M16.77,190.72c-6.66,1.39-12.4-2.56-13.79-9.25s2.31-12.56,9-13.95,12.42,2.51,13.82,9.21S23.42,189.34,16.77,190.72Zm-4-19.11c-4.76,1-7.17,4.83-6.27,9.12s4.64,6.9,9.4,5.91,7.2-4.88,6.3-9.17S17.55,170.62,12.79,171.61Z'/%3E%3Cpath class='cls-1' d='M0,139.67l22.79,0v3.92H19.38a9.27,9.27,0,0,1,3.69,7.75c0,5.89-3.24,9.8-10,9.79L0,161.13V157l12.64,0c4.47,0,6.71-2.23,6.72-6.14,0-4.3-2.65-7.06-7.56-7.07L0,143.8Z'/%3E%3Cpath class='cls-1' d='M3.39,117.09l3.94.7a6,6,0,0,0-.21.92c-.78,4.36,1.41,7.54,6.32,8.41l11.18,2-.72,4.07-22.44-4,.69-3.89,3.77.67C3.55,124.06,2.69,121,3.39,117.09Z'/%3E%3Cpath class='cls-1' d='M19,103.76c-6.18-2.83-8.47-9.4-5.63-15.62s9.3-8.76,15.48-5.93,8.52,9.38,5.68,15.6S25.19,106.58,19,103.76ZM27.12,86c-4.42-2-8.63-.35-10.45,3.64S16.32,98,20.74,100s8.69.33,10.51-3.66S31.54,88,27.12,86Z'/%3E%3Cpath class='cls-1' d='M24,65.68l1.65,1.09,3.66-5.52,2.83,1.88-3.62,5.45L44.63,79.3l-2.28,3.44L26.19,72l-2.14,3.22-2.83-1.88,2.14-3.22L21.68,69c-3.69-2.45-4.66-6.28-2-10.33a7.72,7.72,0,0,1,3.68-3.14l1.92,2.78a5.33,5.33,0,0,0-2.65,2.06C21.3,62.43,21.76,64.23,24,65.68Z'/%3E%3Cpath class='cls-1' d='M34.28,52l1.51,1.27,4.26-5.08,2.6,2.19-4.2,5L53.32,67.88,50.66,71,35.8,58.58l-2.49,3-2.6-2.19,2.49-3-1.55-1.3c-3.4-2.85-3.92-6.77-.8-10.49a7.66,7.66,0,0,1,4-2.71l1.6,3a5.34,5.34,0,0,0-2.87,1.74C32,48.5,32.27,50.34,34.28,52Z'/%3E%3Cpath class='cls-1' d='M67.92,39.93,54.05,52.15c3,2.66,7.22,2.53,10.6-.45a8.54,8.54,0,0,0,3.12-6.42l3.47.49A11.44,11.44,0,0,1,67,54.49c-5.52,4.86-12.41,4.46-16.9-.64s-4-11.92.9-16.27,11.58-3.9,16.21,1.36A10.27,10.27,0,0,1,67.92,39.93Zm-15.83,10,11-9.67a7.36,7.36,0,0,0-11,9.67Z'/%3E%3Cpath class='cls-1' d='M76.71,19.1l2.12,3.39A6.3,6.3,0,0,0,78,23c-3.76,2.35-4.65,6.11-2,10.34l6,9.61-3.49,2.2L66.44,25.79l3.35-2.1,2,3.24C71.65,23.9,73.32,21.22,76.71,19.1Z'/%3E%3Cpath class='cls-1' d='M79.13,10.23a2.72,2.72,0,0,1,1.33-3.66,2.69,2.69,0,1,1,2.35,4.84A2.69,2.69,0,0,1,79.13,10.23Zm3.74,6,3.71-1.8,10,20.5-3.71,1.81Z'/%3E%3Cpath class='cls-1' d='M119.38,13l3.86,12.54-3.95,1.21-3.71-12.08c-1.32-4.28-4.1-5.72-7.84-4.57-4.19,1.29-6.13,4.63-4.68,9.36l3.45,11.22-4,1.21L95.87,10.08l3.78-1.16,1,3.28c.92-2.71,3.33-4.84,6.78-5.9C112.74,4.67,117.42,6.56,119.38,13Z'/%3E%3Cpath class='cls-1' d='M149.57,0l1.34,19.65c.55,8-3.28,12-11,12.48-4.16.28-8.45-.59-11.09-2.65l1.76-3.31a13.88,13.88,0,0,0,8.95,2.36c5.37-.36,7.64-3,7.29-8.17l-.12-1.8a10.46,10.46,0,0,1-8,4.08c-6.56.45-11.84-3.68-12.29-10.24S130.67,1.08,137.24.63a10.38,10.38,0,0,1,8.66,3.16L145.66.27Zm-3.3,11C146,6.63,142.5,3.89,138,4.2s-7.65,3.5-7.35,7.92S134.38,19.31,139,19,146.57,15.42,146.27,11Z'/%3E%3Cpath class='cls-1' d='M166.13,21.23l2.32-2.87a14.72,14.72,0,0,0,7.39,3.87c3.75.74,5.54-.09,5.91-2,1-5-14-3.47-12.23-12.37.79-4,4.91-6,10.65-4.86a16.67,16.67,0,0,1,7.73,3.63l-2.36,2.87a11.84,11.84,0,0,0-6.1-3c-3.54-.7-5.53.27-5.88,2-1,5.27,14,3.77,12.26,12.46-.8,4.05-5,5.88-11,4.71C171.14,24.94,167.7,23.07,166.13,21.23Z'/%3E%3Cpath class='cls-1' d='M201,31.78a7.75,7.75,0,0,1-5.23-.17c-4.33-1.54-5.95-4.81-4.41-9.15l4.2-11.78-3.65-1.3L193,6.18l3.65,1.3,1.67-4.7,3.89,1.38-1.68,4.7,6.16,2.19-1.14,3.2-6.16-2.19-4.13,11.63c-.83,2.3-.07,4,2.07,4.8a5.23,5.23,0,0,0,3.4.07Z'/%3E%3Cpath class='cls-1' d='M226.5,31.19l-6.64,12.06-3.43-1.89,1.46-2.64c-2.21,1.15-5,1-8.14-.75-4.52-2.49-6.05-6.48-4.14-9.94,1.76-3.2,5.29-4.7,11.24-1.42l5.72,3.15.4-.71c1.68-3.05.89-5.8-2.69-7.77a11.52,11.52,0,0,0-7.52-1.34V16.4a15.17,15.17,0,0,1,9.66,2C227.88,21.39,229.51,25.73,226.5,31.19Zm-6.89,4,1.53-2.79-5.57-3.07c-3.58-2-5.37-1.14-6.3.56-1.1,2-.13,4.15,2.62,5.67S217.44,37,219.61,35.15Z'/%3E%3Cpath class='cls-1' d='M248.91,36.52l-2.47,3.15a7.67,7.67,0,0,0-.71-.62c-3.49-2.73-7.33-2.29-10.4,1.64l-7,9-3.25-2.54,14-18,3.12,2.43-2.36,3C242.67,33.39,245.76,34.05,248.91,36.52Z'/%3E%3Cpath class='cls-1' d='M248.28,66.38a7.81,7.81,0,0,1-4.62-2.47c-3.21-3.29-3.22-6.94.07-10.15l9-8.73L250,42.26l2.43-2.37,2.7,2.77,3.58-3.48,2.88,3L258,45.62l4.56,4.68-2.43,2.37L255.58,48l-8.84,8.61c-1.76,1.71-1.85,3.59-.26,5.22a5.13,5.13,0,0,0,3,1.56Z'/%3E%3Cpath class='cls-1' d='M250.06,66.61l3.66-.52A14.62,14.62,0,0,0,256.49,74c2.25,3.1,4.12,3.71,5.69,2.57,4.14-3-7.9-12.07-.55-17.39,3.31-2.39,7.68-1.05,11.11,3.69a16.52,16.52,0,0,1,3.2,7.93l-3.68.49a11.92,11.92,0,0,0-2.4-6.39c-2.11-2.92-4.23-3.57-5.69-2.51-4.36,3.15,7.67,12.28.5,17.48-3.35,2.42-7.69.89-11.25-4C251.2,72.74,250,69,250.06,66.61Z'/%3E%3Cpath class='cls-1' d='M290.89,91.61l-1.82.78,2.6,6.09-3.12,1.33-2.57-6-17.83,7.63-1.62-3.8L284.36,90l-1.53-3.56L286,85.12l1.52,3.55,1.86-.79c4.07-1.74,7.8-.44,9.71,4a7.68,7.68,0,0,1,.61,4.79l-3.38.09a5.41,5.41,0,0,0-.26-3.35C295.05,91.19,293.3,90.58,290.89,91.61Z'/%3E%3Cpath class='cls-1' d='M297.94,119.48l-3.87,1a9.37,9.37,0,0,0-.2-.93c-1.12-4.28-4.44-6.26-9.27-5l-11,2.88-1.05-4,22.05-5.78,1,3.83-3.7,1C294.87,113.22,296.92,115.61,297.94,119.48Z'/%3E%3Cpath class='cls-1' d='M287.57,125.66c6.76-.68,12.06,3.84,12.75,10.64s-3.61,12.25-10.36,12.94-12.1-3.79-12.79-10.59S280.81,126.35,287.57,125.66Zm2,19.43c4.83-.49,7.62-4.06,7.18-8.42s-3.9-7.35-8.73-6.86-7.67,4.11-7.23,8.47S284.7,145.58,289.54,145.09Z'/%3E%3Cpath class='cls-1' d='M285.7,193.86l-12.92-2.27.72-4.07L286,189.71c4.4.78,6.93-1,7.58-4.65.72-4.06-1.4-7.18-6.27-8l-11.56-2,.72-4.07,12.45,2.19c4.4.78,6.93-1,7.58-4.65.72-4.06-1.4-7.18-6.27-8l-11.56-2,.72-4.07,22.44,4-.68,3.9-3.35-.59c2,2,2.79,5,2.19,8.37s-2.46,6.07-5.52,7.06a10.25,10.25,0,0,1,2.63,9.37C296.09,191.84,292.3,195,285.7,193.86Z'/%3E%3Cpath class='cls-2' d='M18,211.26a144.88,144.88,0,0,0,263.2,0'/%3E%3C/svg%3E");
    width: 80px;
    height: 70px;
    top: -50px;
    right: 14px;
  }
}
