body {

	--base-font-size: 1.2rem;
	--font-family: Arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto,sans-serif;
	--font-family-title: "Arial Black", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto,sans-serif;

	--color-dark: #000000;
	--color-light: #ffffff;

	--color-title: #7d7a74;
	--text-color: #fff;

	--body-bg:#d8d8d8;

	--color-link-hover: rgb(150, 141, 15);;
  --space: 2rem;
  --content-width: 1600px;

}