<footer class="footer">
  <div class="layout footer__container">
    <div class="footer__copyright">
      Copyright © Pinout LTD 2024
    </div>
    <div class="footer__text">
      <nav class="nav">
        <ul class="nav__list footer__list">
          <li class="nav__item underline">
            <a class="nav__link" href="/"  aria-label="go to home page">home</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="./about-us"  aria-label="go to about us page">about us</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="./why-smart-home" aria-label="go to why smart home page">why smart home</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="./solutions" aria-label="go to solutions page">solutions</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="./contact-us" aria-label="go to contact us page">contact us</a>
          </li>
        </ul>
      </nav>
      <div class="footer__decor">
        <img src="./img/decor-legs.svg" alt="" aria-hidden="true"/>
      </div>
    </div>
  </div>
</footer>
