<footer class="footer">
  <div class="layout footer__container">
    <div class="footer__copyright">
      @footer_copyright <span id="year"></span>
    </div>
    <div class="footer__text">
      <nav class="nav">
        <ul class="nav__list footer__list">
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/" aria-label="@aria_home">@nav_home</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/about-us" aria-label="@aria_aboutUs">@nav_aboutUs</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/why-smart-home" aria-label="@aria_whySmartHome">@nav_whySmartHome</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/solutions" aria-label="@aria_solutions">@nav_solutions</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/cyprus-lifestyle" aria-label="@aria_cyprusLifestyle">@nav_cyprusLifestyle</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/shop" aria-label="@aria_shop">@nav_shop</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/for-construction" aria-label="@aria_forConstruction">@nav_forConstruction</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/contact-us" aria-label="@aria_contactUs">@nav_contactUs</a>
          </li>
          <li class="nav__item underline">
            <a class="nav__link" href="@localePrefix/privacy-policy" aria-label="@aria_privacyPolicy">@nav_privacyPolicy</a>
          </li>
        </ul>
      </nav>
      <div class="footer__decor">
        <img src="/img/decor-legs.svg" alt="" aria-hidden="true"/>
      </div>
    </div>
  </div>
  <!-- user consent -->
  @include('./userConsent.html')
</footer>

<script>
  document.querySelector("#year").textContent = new Date().getFullYear();
</script>
