<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@pageTitle</title>
  <meta name="title" content="@pageTitle">
  <meta name="description" content="We build Smart Home Solutions based on open source software. Make your home as smart as your smartphone.">

  <!-- Favicon  -->
  <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="manifest" href="./resources/site.webmanifest.json">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://pinout.cloud/" />
  <meta property="og:title" content="@pageTitle" />
  <meta property="og:description" content="We build Smart Home Solutions based on open source software. Make your home as smart as your smartphone." />
  <meta property="og:image" content="/resources/og.jpg" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://pinout.cloud/" />
  <meta property="twitter:title" content="@pageTitle" />
  <meta property="twitter:description" content="We build Smart Home Solutions based on open source software. Make your home as smart as your smartphone." />
  <meta property="twitter:image" content="/resources/og.jpg" />


  <link rel="stylesheet" href="styles/main.min.css">
  <script type="application/ld+json">{"@context":"http://schema.org","@type":"Organization","logo":"https://pinout.cloud/resources/logo.svg","name":"Pinout LTD, Smart Solutions for your Home","description":"We build Smart Home Solutions based on open source software. Make your home as smart as your smartphone.","provider":{"@type":"Organization","name":"Pinout LTD, Smart Solutions for your Home","sameAs":"https://pinout.cloud/"},"headline":"Pinout LTD, Smart Solutions for your Home","image":"https://pinout.cloud/og.jpg","email":"info@pinout.cloud","url":"https://pinout.cloud/","address":{"@type":"PostalAddress","streetAddress":"Georgiou A, 83 - SHOP 17","addressLocality":"Limassol","postalCode":"4047","addressCountry":"Cyprus"}}</script>
  <script defer src="js/main.js"></script>
</head>
