<div class="solutions-popup" draggable="true" id="popup-drag">
  <details>
    <summary class="solutions-popup__header">How to read our plans</summary>

    <div class="solutions-popup__content">
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/gateway.png" alt="Zigbee Gateway"/>
        </div>
        <span class="solutions-popup__item-name">Zigbee Gateway</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/ir-control.png" alt="IR Remote Control"/>
        </div>
        <span class="solutions-popup__item-name">IR Remote Control</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/wifi-router.png" alt="Router"/>
        </div>
        <span class="solutions-popup__item-name">Router</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/latte-panda.png" alt="Home Server"/>
        </div>
        <span class="solutions-popup__item-name">Home Server</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/1-gang-switch.png" alt="1-Gang Switch"/>
        </div>
        <span class="solutions-popup__item-name">1-Gang Switch</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/2-gang-switch.png" alt="2-Gang Switch"/>
        </div>
        <span class="solutions-popup__item-name">2-Gang Switch</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/3-gang-switch.png" alt="3-Gang Switch"/>
        </div>
        <span class="solutions-popup__item-name">3-Gang Switch</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/curtains.png" alt="Smart Curtains"/>
        </div>
        <span class="solutions-popup__item-name">Smart Curtains</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/door-sensor.png" alt="Door Sensor"/>
        </div>
        <span class="solutions-popup__item-name">Door Sensor</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/humidity-sensor.png" alt="Temperature  & Humidity Sensors"/>
        </div>
        <span class="solutions-popup__item-name">Temperature  & Humidity Sensors</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/water-leakage-sensor.png" alt="Water Leakage Sensor"/>
        </div>
        <span class="solutions-popup__item-name">Water Leakage Sensor</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/camera.png" alt="Camera"/>
        </div>
        <span class="solutions-popup__item-name">Camera</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/valve-shutter.png" alt="Smart Valve"/>
        </div>
        <span class="solutions-popup__item-name">Smart Valve</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/smoke-detector.png" alt="Smoke Detector"/>
        </div>
        <span class="solutions-popup__item-name">Smoke Detector</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/motion-sensor.png" alt="Motion Sensor"/>
        </div>
        <span class="solutions-popup__item-name">Motion Sensor</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/thermostat.png" alt="Thermostat"/>
        </div>
        <span class="solutions-popup__item-name">Thermostat</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/boiler-switch.png" alt="Boiler Switch"/>
        </div>
        <span class="solutions-popup__item-name">Boiler Switch</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/sds-sensor.png" alt="Air Quality Sensor"/>
        </div>
        <span class="solutions-popup__item-name">Air Quality Sensor</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/energy-consumption-monitor.png" alt="Energy Consumption monitor"/>
        </div>
        <span class="solutions-popup__item-name">Energy Consumption monitor</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="./img/details/doorphone.png" alt="Doorphone"/>
        </div>
        <span class="solutions-popup__item-name">Doorphone</span>
      </div>
    </div>
  </details>
</div>

