<div class="solutions-popup" draggable="true" id="popup-drag">
  <details>
    <summary class="solutions-popup__header">@solutionsPopup_header</summary>

    <div class="solutions-popup__content">
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/gateway.png" alt="@solutionsPopup_zigbeeGateway"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_zigbeeGateway</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/ir-control.png" alt="@solutionsPopup_irRemote"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_irRemote</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/wifi-router.png" alt="@solutionsPopup_router"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_router</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/latte-panda.png" alt="@solutionsPopup_homeServer"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_homeServer</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/1-gang-switch.png" alt="@solutionsPopup_switch1Gang"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_switch1Gang</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/2-gang-switch.png" alt="@solutionsPopup_switch2Gang"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_switch2Gang</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/3-gang-switch.png" alt="@solutionsPopup_switch3Gang"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_switch3Gang</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/curtains.png" alt="@solutionsPopup_smartCurtains"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_smartCurtains</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/door-sensor.png" alt="@solutionsPopup_doorSensor"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_doorSensor</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/humidity-sensor.png" alt="@solutionsPopup_tempHumidity"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_tempHumidity</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/water-leakage-sensor.png" alt="@solutionsPopup_waterLeakage"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_waterLeakage</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/camera.png" alt="@solutionsPopup_camera"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_camera</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/valve-shutter.png" alt="@solutionsPopup_smartValve"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_smartValve</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/smoke-detector.png" alt="@solutionsPopup_smokeDetector"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_smokeDetector</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/motion-sensor.png" alt="@solutionsPopup_motionSensor"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_motionSensor</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/thermostat.png" alt="@solutionsPopup_thermostat"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_thermostat</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/boiler-switch.png" alt="@solutionsPopup_boilerSwitch"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_boilerSwitch</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/sds-sensor.png" alt="@solutionsPopup_airQuality"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_airQuality</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/energy-consumption-monitor.png" alt="@solutionsPopup_energyMonitor"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_energyMonitor</span>
      </div>
      <div class="solutions-popup__item">
        <div class="solutions-popup__item-img">
          <img src="/img/details/doorphone.png" alt="@solutionsPopup_doorphone"/>
        </div>
        <span class="solutions-popup__item-name">@solutionsPopup_doorphone</span>
      </div>
    </div>
  </details>
</div>
