@font-face {
  font-family: 'Roboto Flex';
  font-style: normal;
  font-display: swap;
  src:
    url("../../resources/fonts/RobotoFlex-VariableFont.woff2") format('woff2 supports variations'),
    url("./../resources/fonts/RobotoFlex-VariableFont.woff2") format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
